<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>Tablass</h1>
    <button onclick="currentData()">Actualizar Datos</button>
		<table>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Profesión</th>
      </tr>
      <table id="table"></bu>
      </table>
		<script>
			const currentData = () => {
				fetch('/list', { method: 'GET' })
					.then((res) => res.json())
					.then((data) => {
						let areaSelect = document.querySelector('#table');
						let printer = '';
						data.forEach((el) => printer += `
            <tr>
              <td>${el.id}</td>
              <td>${el.nombre}</td>
              <td>${el.edad}</td>
              <td>${el.profesion}</td>
            </tr>`)
						areaSelect.innerHTML+=printer
					})
					.catch((err) => console.error(err));
			};
		</script>
	</body>
</html>
