{% extends "layout.html" %} {% block table %}
<table class="table-fixed rounded-xl w-full border-spacing-y-4 border-separate text-center text-white bg-gray-500 bg-opacity-25 backdrop-blur-sm pl-5 pr-20" >
	<thead>
		<th class="py-2">ID</th>
		<th class="py-2">Nombre</th>
		<th class="py-2">Edad</th>
		<th class="py-2">Profesión</th>
	</thead>
	<tbody id="table">
		{% for item in data %}
		<tr>
			<th>{{item.id}}</th>
			<td>{{item.nombre}}</td>
			<td>{{item.edad}}</td>
			<td>{{item.profesion}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock table %}
