<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Prueba Flask Sheets</title>
	</head>
	<body
		class="pb-20"
		style="
			background-image: url(https://images.unsplash.com/photo-1496150458551-140441714f2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
		"
	>
		<div class="flex flex-col mt-5 justify-evenly items-center h-40">
			<h1
				class="text-2xl text-white font-semibold font-mono subpixel-antialiased md:text-center md:text-5xl"
			>
				Google Sheet con Flask
			</h1>
			{% block button %}
			<button
				class="w-40 bg-gray-900 hover:bg-gray-700 text-white py-2 px-4 rounded-xl"
				onclick="currentData()"
			>
				Actualizar Datos
			</button>
			{% endblock button %}
		</div>
		<main
			class="container mx-auto px-auto flex items-center justify-center mt-10"
		>
			{% block main %} {% block table %}{% endblock table %} {% endblock main %}
		</main>
		<script src={{url_for('static', filename='js/index.js')}}></script>
	</body>
</html>
